@media (max-width: 1280px) {

  .header__nav {
    width: 55%;
  }

  .about__right {
    width: 100%;
  }

  .about__inner {
    flex-direction: column;
  }

  .about__text {    
    margin-bottom: 0;
  }

  .about__left {
    width: 100%;
    min-height: 641px;
    background-image: url(/img/about__img-01-1024px.jpg);
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center;     */
    margin-right: 0;
    margin-bottom: 32px;
  }

}

@media (max-width: 1024px) {

  .container {
    max-width: 965px;
  }

  .header__top {
    align-items: center;
    padding: 13px 0 11px 0;
  }

  .header__burger {
    display: block;
  }

  .header__nav {
    width: 24px;
  }

  .header__nav-list {
    display: none;
  }

  .header__logo-img {
    transform: scale(0.7);
  }

  .header__logo {
    display: flex;
    padding-right: 6px;
  }

  .project {
    margin-bottom: 81px;
  }


  .project__slide {
    background-image: url(/img/project__img-1024px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 159px 77px 160px 77px;
}

  .project__title {
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 12px;
  }

  .project__descr {
    /* width: 692px; */
    margin: 0;
    margin-bottom: 58px;
    font-size: 20px;
    line-height: 25px;
  }

  .about {
    margin-bottom: 48px;
  }

  .about__title {
    margin-bottom: 9px;
  }

  .about__history {
    margin-bottom: 62px;
}

  .about__inner {
    display: flex;
    flex-direction: column;
  }

  .about__bot {
    display: flex;
    justify-content: space-between;
  }

  .about__descr {
    margin: 0;
  }

  .about__function {
    padding: 60px 78px;
}

.about__btn {
  padding: 18px 36px;
}

  .about__title-03 {
    margin-bottom: 10px;
  }

  .about__descr-03 {
    line-height: 32px;
  }

  .work {
    margin-bottom: 80px;
  }

  .work__inner {
    background-image: url(/img/how-we-1024.jpg);
    background-repeat: no-repeat;
    background-size: 436px 690px;
    background-position: 487px 190px;
  }

  .work__list {
    margin-bottom: 51px;
  }

  .work__text {
    width: 437px;
    margin-bottom: 24px;
  }

  .questions {
    margin-bottom: 79px;
  }

  .questions__title {
    margin-bottom: 31px;
  }

  .questions__text {
    display: inline-block;
    font-size: 20px;
    margin-top: 41px;
    margin-bottom: 39px;
  }

  .questions__text-2 {
    font-size: 20px;
    margin-top: 34px;
    margin-bottom: 31px;
    width: 85%;
  }

  .questions__text-4 {
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 31px;
  }

  .footer__right {
    display: none;
  }

  .footer__center {
    width: 543px;
  }

  .footer__name {
    width: 542px;
  }

  .footer__email {
    width: 542px;
  }

  .footer__textarea {
    width: 542px;
  }

  .footer__btn {
    padding-top: 20px;
    padding-right: 39px;
    padding-bottom: 18px;
    padding-left: 37px;
    margin-right: 10px;
  }

  .footer__check-label::before {
    height: 14px;
  }

}